---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

<div class="bookmark-page">
  <div class="model">
    {% for bookmark in site.data.bookmark %}
    <div class="item">
      <div class="title">{{bookmark.title}}</div>
      <div class="describe">{{bookmark.describe}}</div>
      <div class="link">
        {% if bookmark.github %}
        <a href="{{bookmark.github}}" target="_blank"
          ><img src="./assets/images/github.png" alt="github"
        /></a>
        {% endif %} {% if bookmark.document %}
        <a href="{{bookmark.document}}" target="_blank" title="文档"
          ><img src="./assets/images/detail.png" alt=""
        /></a>
        {% endif %}
      </div>
      <div class="tags">
        {% if bookmark.tags %} {% for tag in bookmark.tags %}
        <span>{{tag}}</span>
        {% endfor %} {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
