---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

<div class="collect-page">
  {% for collect in site.data.collects %}
  <h3 id="{{collect.title}}">{{collect.title}}</h3>
  <ul>
    {% for item in collect.data %}
    <li>
      <div class="collect-page-content">
        <div class="collect-page-content-item">
          <img
            src="./assets/images/icons/collects/{{collect.iconFileName}}/{{forloop.index}}.png"
            alt=""
          />
          <a href="{{item.href}}" target="_blank">
            <span>{{item.title}}</span>
            {% if item.subtitle %}
            <span>{{item.subtitle}}</span>
            {% endif %}
          </a>
        </div>
        {% if item.hover %}
        <div class="collect-page-content-hover">
          <img
            src="./assets/images/icons/collects/{{collect.iconFileName}}/{{forloop.index}}-hover.png"
            alt=""
          />
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
